
[*.{cs,vb}]
#### Naming styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = silent
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = silent
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = silent
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Naming styles

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_code_quality_unused_parameters = all:suggestion
dotnet_diagnostic.CA1000.severity = silent
dotnet_diagnostic.CA1001.severity = silent
dotnet_diagnostic.CA1002.severity = suggestion
dotnet_diagnostic.CA1003.severity = suggestion
dotnet_diagnostic.CA1005.severity = suggestion
dotnet_diagnostic.CA1008.severity = suggestion
dotnet_diagnostic.CA1010.severity = silent
dotnet_diagnostic.CA1012.severity = suggestion
dotnet_diagnostic.CA1014.severity = suggestion
dotnet_diagnostic.CA1016.severity = suggestion
dotnet_diagnostic.CA1017.severity = warning
dotnet_diagnostic.CA1018.severity = suggestion
dotnet_diagnostic.CA1019.severity = suggestion
dotnet_diagnostic.CA1021.severity = suggestion
dotnet_diagnostic.CA1024.severity = suggestion
dotnet_diagnostic.CA1027.severity = warning
dotnet_diagnostic.CA1028.severity = warning
dotnet_diagnostic.CA1030.severity = warning
dotnet_diagnostic.CA1031.severity = suggestion
dotnet_diagnostic.CA1033.severity = warning
dotnet_diagnostic.CA1034.severity = suggestion
dotnet_diagnostic.CA1036.severity = silent
dotnet_diagnostic.CA1040.severity = warning
dotnet_diagnostic.CA1041.severity = suggestion
dotnet_diagnostic.CA1043.severity = warning
dotnet_diagnostic.CA1044.severity = warning
dotnet_diagnostic.CA1045.severity = warning
dotnet_diagnostic.CA1046.severity = warning
dotnet_diagnostic.CA1050.severity = suggestion
dotnet_diagnostic.CA1051.severity = silent
dotnet_diagnostic.CA1052.severity = suggestion
dotnet_diagnostic.CA1054.severity = warning
dotnet_diagnostic.CA1055.severity = warning
dotnet_diagnostic.CA1056.severity = warning
dotnet_diagnostic.CA1058.severity = warning
dotnet_diagnostic.CA1060.severity = warning
dotnet_diagnostic.CA1061.severity = suggestion
dotnet_diagnostic.CA1062.severity = suggestion
dotnet_diagnostic.CA1063.severity = suggestion
dotnet_diagnostic.CA1064.severity = warning
dotnet_diagnostic.CA1065.severity = warning
dotnet_diagnostic.CA1066.severity = warning
dotnet_diagnostic.CA1067.severity = suggestion
dotnet_diagnostic.CA1068.severity = suggestion
dotnet_diagnostic.CA1069.severity = suggestion
dotnet_diagnostic.CA1303.severity = suggestion
dotnet_diagnostic.CA1304.severity = silent
dotnet_diagnostic.CA1305.severity = silent
dotnet_diagnostic.CA1307.severity = suggestion
dotnet_diagnostic.CA1308.severity = suggestion
dotnet_diagnostic.CA1310.severity = silent
dotnet_diagnostic.CA1401.severity = suggestion
dotnet_diagnostic.CA1416.severity = warning
dotnet_diagnostic.CA1417.severity = warning
dotnet_diagnostic.CA1418.severity = warning
dotnet_diagnostic.CA1419.severity = suggestion
dotnet_diagnostic.CA1420.severity = warning
dotnet_diagnostic.CA1421.severity = suggestion
dotnet_diagnostic.CA1422.severity = warning
dotnet_diagnostic.CA1501.severity = warning
dotnet_diagnostic.CA1502.severity = suggestion
dotnet_diagnostic.CA1505.severity = warning
dotnet_diagnostic.CA1506.severity = warning
dotnet_diagnostic.CA1509.severity = warning
dotnet_diagnostic.CA1510.severity = suggestion
dotnet_diagnostic.CA1511.severity = suggestion
dotnet_diagnostic.CA1512.severity = suggestion
dotnet_diagnostic.CA1513.severity = suggestion
dotnet_diagnostic.CA1700.severity = warning
dotnet_diagnostic.CA1707.severity = silent
dotnet_diagnostic.CA1708.severity = silent
dotnet_diagnostic.CA1710.severity = silent
dotnet_diagnostic.CA1711.severity = silent
dotnet_diagnostic.CA1712.severity = silent
dotnet_diagnostic.CA1713.severity = warning
dotnet_diagnostic.CA1715.severity = silent
dotnet_diagnostic.CA1716.severity = silent
dotnet_diagnostic.CA1720.severity = silent
dotnet_diagnostic.CA1721.severity = warning
dotnet_diagnostic.CA1724.severity = suggestion
dotnet_diagnostic.CA1725.severity = silent
dotnet_diagnostic.CA1727.severity = silent
dotnet_diagnostic.CA1806.severity = suggestion
dotnet_diagnostic.CA1810.severity = warning
dotnet_diagnostic.CA1813.severity = suggestion
dotnet_diagnostic.CA1814.severity = warning
dotnet_diagnostic.CA1815.severity = warning
dotnet_diagnostic.CA1816.severity = suggestion
dotnet_diagnostic.CA1819.severity = suggestion
dotnet_diagnostic.CA1821.severity = suggestion
dotnet_diagnostic.CA1822.severity = suggestion
dotnet_diagnostic.CA1823.severity = warning
dotnet_diagnostic.CA1826.severity = warning
dotnet_diagnostic.CA1827.severity = suggestion
dotnet_diagnostic.CA1828.severity = suggestion
dotnet_diagnostic.CA1829.severity = suggestion
dotnet_diagnostic.CA1830.severity = suggestion
dotnet_diagnostic.CA1831.severity = warning
dotnet_diagnostic.CA1832.severity = suggestion
dotnet_diagnostic.CA1833.severity = suggestion
dotnet_diagnostic.CA1834.severity = suggestion
dotnet_diagnostic.CA1835.severity = suggestion
dotnet_diagnostic.CA1836.severity = suggestion
dotnet_diagnostic.CA1837.severity = suggestion
dotnet_diagnostic.CA1838.severity = silent
dotnet_diagnostic.CA1839.severity = suggestion
dotnet_diagnostic.CA1840.severity = suggestion
dotnet_diagnostic.CA1842.severity = suggestion
dotnet_diagnostic.CA1843.severity = suggestion
dotnet_diagnostic.CA1844.severity = suggestion
dotnet_diagnostic.CA1846.severity = suggestion
dotnet_diagnostic.CA1847.severity = suggestion
dotnet_diagnostic.CA1848.severity = silent
dotnet_diagnostic.CA1849.severity = suggestion
dotnet_diagnostic.CA1850.severity = suggestion
dotnet_diagnostic.CA1852.severity = silent
dotnet_diagnostic.CA1853.severity = suggestion
dotnet_diagnostic.CA1854.severity = suggestion
dotnet_diagnostic.CA1858.severity = suggestion
dotnet_diagnostic.CA1859.severity = suggestion
dotnet_diagnostic.CA1860.severity = suggestion
dotnet_diagnostic.CA1861.severity = suggestion
dotnet_diagnostic.CA1862.severity = suggestion
dotnet_diagnostic.CA1863.severity = silent
dotnet_diagnostic.CA1864.severity = suggestion
dotnet_diagnostic.CA1868.severity = suggestion
dotnet_diagnostic.CA1869.severity = suggestion
dotnet_diagnostic.CA2000.severity = suggestion
dotnet_diagnostic.CA2002.severity = warning
dotnet_diagnostic.CA2007.severity = suggestion
dotnet_diagnostic.CA2008.severity = warning
dotnet_diagnostic.CA2009.severity = warning
dotnet_diagnostic.CA2011.severity = suggestion
dotnet_diagnostic.CA2012.severity = suggestion
dotnet_diagnostic.CA2013.severity = warning
dotnet_diagnostic.CA2015.severity = warning
dotnet_diagnostic.CA2017.severity = warning
dotnet_diagnostic.CA2018.severity = warning
dotnet_diagnostic.CA2019.severity = suggestion
dotnet_diagnostic.CA2021.severity = warning
dotnet_diagnostic.CA2100.severity = warning
dotnet_diagnostic.CA2101.severity = suggestion
dotnet_diagnostic.CA2119.severity = warning
dotnet_diagnostic.CA2153.severity = warning
dotnet_diagnostic.CA2200.severity = warning
dotnet_diagnostic.CA2201.severity = silent
dotnet_diagnostic.CA2207.severity = warning
dotnet_diagnostic.CA2208.severity = suggestion
dotnet_diagnostic.CA2211.severity = suggestion
dotnet_diagnostic.CA2213.severity = warning
dotnet_diagnostic.CA2214.severity = warning
dotnet_diagnostic.CA2215.severity = silent
dotnet_diagnostic.CA2216.severity = warning
dotnet_diagnostic.CA2217.severity = warning
dotnet_diagnostic.CA2219.severity = warning
dotnet_diagnostic.CA2225.severity = suggestion
dotnet_diagnostic.CA2226.severity = warning
dotnet_diagnostic.CA2227.severity = suggestion
dotnet_diagnostic.CA2231.severity = suggestion
dotnet_diagnostic.CA2235.severity = warning
dotnet_diagnostic.CA2237.severity = warning
dotnet_diagnostic.CA2241.severity = suggestion
dotnet_diagnostic.CA2242.severity = suggestion
dotnet_diagnostic.CA2243.severity = warning
dotnet_diagnostic.CA2245.severity = suggestion
dotnet_diagnostic.CA2247.severity = suggestion
dotnet_diagnostic.CA2248.severity = suggestion
dotnet_diagnostic.CA2249.severity = suggestion
dotnet_diagnostic.CA2250.severity = suggestion
dotnet_diagnostic.CA2251.severity = silent
dotnet_diagnostic.CA2253.severity = warning
dotnet_diagnostic.CA2254.severity = warning
dotnet_diagnostic.CA2256.severity = warning
dotnet_diagnostic.CA2257.severity = warning
dotnet_diagnostic.CA2258.severity = warning
dotnet_diagnostic.CA2259.severity = warning
dotnet_diagnostic.CA2261.severity = warning
dotnet_diagnostic.CA2300.severity = warning
dotnet_diagnostic.CA2301.severity = warning
dotnet_diagnostic.CA2302.severity = warning
dotnet_diagnostic.CA2305.severity = warning
dotnet_diagnostic.CA2310.severity = warning
dotnet_diagnostic.CA2311.severity = warning
dotnet_diagnostic.CA2312.severity = warning
dotnet_diagnostic.CA2315.severity = warning
dotnet_diagnostic.CA2321.severity = warning
dotnet_diagnostic.CA2322.severity = warning
dotnet_diagnostic.CA2326.severity = warning
dotnet_diagnostic.CA2327.severity = warning
dotnet_diagnostic.CA2328.severity = warning
dotnet_diagnostic.CA2329.severity = warning
dotnet_diagnostic.CA2330.severity = warning
dotnet_diagnostic.CA2350.severity = warning
dotnet_diagnostic.CA2351.severity = warning
dotnet_diagnostic.CA2361.severity = warning
dotnet_diagnostic.CA3001.severity = warning
dotnet_diagnostic.CA3002.severity = warning
dotnet_diagnostic.CA3003.severity = warning
dotnet_diagnostic.CA3004.severity = warning
dotnet_diagnostic.CA3005.severity = warning
dotnet_diagnostic.CA3006.severity = warning
dotnet_diagnostic.CA3007.severity = warning
dotnet_diagnostic.CA3008.severity = warning
dotnet_diagnostic.CA3009.severity = warning
dotnet_diagnostic.CA3010.severity = warning
dotnet_diagnostic.CA3011.severity = warning
dotnet_diagnostic.CA3012.severity = warning
dotnet_diagnostic.CA3061.severity = silent
dotnet_diagnostic.CA3075.severity = silent
dotnet_diagnostic.CA3076.severity = silent
dotnet_diagnostic.CA3077.severity = silent
dotnet_diagnostic.CA3147.severity = silent
dotnet_diagnostic.CA5350.severity = silent
dotnet_diagnostic.CA5351.severity = silent
dotnet_diagnostic.CA5358.severity = warning
dotnet_diagnostic.CA5359.severity = silent
dotnet_diagnostic.CA5360.severity = silent
dotnet_diagnostic.CA5361.severity = warning
dotnet_diagnostic.CA5362.severity = warning
dotnet_diagnostic.CA5363.severity = silent
dotnet_diagnostic.CA5364.severity = silent
dotnet_diagnostic.CA5365.severity = silent
dotnet_diagnostic.CA5366.severity = silent
dotnet_diagnostic.CA5367.severity = warning
dotnet_diagnostic.CA5368.severity = silent
dotnet_diagnostic.CA5369.severity = silent
dotnet_diagnostic.CA5370.severity = silent
dotnet_diagnostic.CA5371.severity = silent
dotnet_diagnostic.CA5372.severity = silent
dotnet_diagnostic.CA5373.severity = silent
dotnet_diagnostic.CA5374.severity = silent
dotnet_diagnostic.CA5375.severity = warning
dotnet_diagnostic.CA5376.severity = warning
dotnet_diagnostic.CA5377.severity = warning
dotnet_diagnostic.CA5378.severity = warning
dotnet_diagnostic.CA5379.severity = silent
dotnet_diagnostic.CA5380.severity = warning
dotnet_diagnostic.CA5381.severity = warning
dotnet_diagnostic.CA5382.severity = warning
dotnet_diagnostic.CA5383.severity = warning
dotnet_diagnostic.CA5384.severity = silent
dotnet_diagnostic.CA5385.severity = silent
dotnet_diagnostic.CA5386.severity = warning
dotnet_diagnostic.CA5387.severity = warning
dotnet_diagnostic.CA5388.severity = warning
dotnet_diagnostic.CA5389.severity = warning
dotnet_diagnostic.CA5390.severity = warning
dotnet_diagnostic.CA5391.severity = warning
dotnet_diagnostic.CA5392.severity = warning
dotnet_diagnostic.CA5393.severity = warning
dotnet_diagnostic.CA5394.severity = warning
dotnet_diagnostic.CA5395.severity = warning
dotnet_diagnostic.CA5396.severity = warning
dotnet_diagnostic.CA5397.severity = silent
dotnet_diagnostic.CA5398.severity = warning
dotnet_diagnostic.CA5399.severity = warning
dotnet_diagnostic.CA5400.severity = warning
dotnet_diagnostic.CA5401.severity = warning
dotnet_diagnostic.CA5402.severity = warning
dotnet_diagnostic.CA5403.severity = warning
dotnet_diagnostic.CA5404.severity = warning
dotnet_diagnostic.CA5405.severity = warning
dotnet_diagnostic.RS1001.severity = warning
dotnet_diagnostic.RS1004.severity = warning
dotnet_diagnostic.RS1007.severity = warning
dotnet_diagnostic.RS1009.severity = error
dotnet_diagnostic.RS1010.severity = suggestion
dotnet_diagnostic.RS1011.severity = suggestion
dotnet_diagnostic.RS1015.severity = warning
dotnet_diagnostic.RS1016.severity = suggestion
dotnet_diagnostic.RS1017.severity = warning
dotnet_diagnostic.RS1018.severity = warning
dotnet_diagnostic.RS1019.severity = warning
dotnet_diagnostic.RS1020.severity = warning
dotnet_diagnostic.RS1021.severity = warning
dotnet_diagnostic.RS1024.severity = warning
dotnet_diagnostic.RS1025.severity = warning
dotnet_diagnostic.RS1026.severity = warning
dotnet_diagnostic.RS1027.severity = warning
dotnet_diagnostic.RS1028.severity = warning
dotnet_diagnostic.RS1029.severity = warning
dotnet_diagnostic.RS1030.severity = warning
dotnet_diagnostic.RS1031.severity = warning
dotnet_diagnostic.RS1032.severity = warning
dotnet_diagnostic.RS1033.severity = warning
dotnet_diagnostic.RS2000.severity = warning
dotnet_diagnostic.RS2001.severity = warning
dotnet_diagnostic.RS2002.severity = warning
dotnet_diagnostic.RS2003.severity = warning
dotnet_diagnostic.RS2004.severity = warning
dotnet_diagnostic.RS2005.severity = warning
dotnet_diagnostic.RS2006.severity = warning
dotnet_diagnostic.RS2007.severity = warning
dotnet_diagnostic.RS2008.severity = warning
dotnet_style_allow_multiple_blank_lines_experimental = true:silent
dotnet_style_allow_statement_immediately_after_block_experimental = true:silent
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_namespace_match_folder = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_object_initializer = true:suggestion
dotnet_style_operator_placement_when_wrapping = beginning_of_line
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:silent
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:silent
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:silent
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_prefer_collection_expression = when_types_loosely_match:suggestion
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion
dotnet_style_qualification_for_event = false:silent
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_property = false:silent
dotnet_style_readonly_field = true:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = false
tab_width = 4

[*.cs]
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_case_contents_when_block = true
csharp_indent_labels = one_less_than_current
csharp_indent_switch_labels = true
csharp_new_line_before_catch = true
csharp_new_line_before_else = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_open_brace = all
csharp_new_line_between_query_expression_clauses = true
csharp_prefer_braces = true:silent
csharp_prefer_simple_default_expression = true:suggestion
csharp_prefer_simple_using_statement = true:suggestion
csharp_prefer_static_anonymous_function = true:suggestion
csharp_prefer_static_local_function = true:suggestion
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = true
csharp_space_after_cast = false
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_semicolon_in_for_statement = true
csharp_space_around_binary_operators = before_and_after
csharp_space_around_declaration_statements = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_open_square_brackets = false
csharp_space_before_semicolon_in_for_statement = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_between_square_brackets = false
csharp_style_allow_blank_line_after_colon_in_constructor_initializer_experimental = true:silent
csharp_style_allow_blank_line_after_token_in_arrow_expression_clause_experimental = true:silent
csharp_style_allow_blank_line_after_token_in_conditional_expression_experimental = true:silent
csharp_style_allow_blank_lines_between_consecutive_braces_experimental = true:silent
csharp_style_allow_embedded_statements_on_same_line_experimental = true:silent
csharp_style_conditional_delegate_call = true:suggestion
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_expression_bodied_accessors = true:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = false:silent
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_implicit_object_creation_when_type_is_apparent = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_style_namespace_declarations = block_scoped:silent
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_prefer_extended_property_pattern = true:suggestion
csharp_style_prefer_index_operator = true:suggestion
csharp_style_prefer_local_over_anonymous_function = true:suggestion
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_prefer_not_pattern = true:suggestion
csharp_style_prefer_null_check_over_type_check = true:suggestion
csharp_style_prefer_pattern_matching = true:silent
csharp_style_prefer_primary_constructors = true:suggestion
csharp_style_prefer_range_operator = true:suggestion
csharp_style_prefer_readonly_struct = true:suggestion
csharp_style_prefer_readonly_struct_member = true:suggestion
csharp_style_prefer_switch_expression = true:suggestion
csharp_style_prefer_top_level_statements = true:silent
csharp_style_prefer_tuple_swap = true:suggestion
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_throw_expression = true:suggestion
csharp_style_unused_value_assignment_preference = discard_variable:suggestion
csharp_style_unused_value_expression_statement_preference = discard_variable:suggestion
csharp_style_var_elsewhere = false:silent
csharp_style_var_for_built_in_types = false:silent
csharp_style_var_when_type_is_apparent = false:silent
csharp_using_directive_placement = outside_namespace:silent
dotnet_diagnostic.CA1032.severity = suggestion
dotnet_diagnostic.CA1047.severity = warning
dotnet_diagnostic.CA1070.severity = suggestion
dotnet_diagnostic.CA1200.severity = silent
dotnet_diagnostic.CA1309.severity = silent
dotnet_diagnostic.CA1311.severity = silent
dotnet_diagnostic.CA1507.severity = suggestion
dotnet_diagnostic.CA1508.severity = suggestion
dotnet_diagnostic.CA1802.severity = suggestion
dotnet_diagnostic.CA1805.severity = silent
dotnet_diagnostic.CA1812.severity = warning
dotnet_diagnostic.CA1820.severity = warning
dotnet_diagnostic.CA1824.severity = suggestion
dotnet_diagnostic.CA1825.severity = suggestion
dotnet_diagnostic.CA1841.severity = suggestion
dotnet_diagnostic.CA1845.severity = suggestion
dotnet_diagnostic.CA1851.severity = suggestion
dotnet_diagnostic.CA1855.severity = suggestion
dotnet_diagnostic.CA1856.severity = error
dotnet_diagnostic.CA1857.severity = warning
dotnet_diagnostic.CA1865.severity = suggestion
dotnet_diagnostic.CA1866.severity = suggestion
dotnet_diagnostic.CA1867.severity = error
dotnet_diagnostic.CA1870.severity = suggestion
dotnet_diagnostic.CA2014.severity = warning
dotnet_diagnostic.CA2016.severity = suggestion
dotnet_diagnostic.CA2020.severity = suggestion
dotnet_diagnostic.CA2234.severity = warning
dotnet_diagnostic.CA2244.severity = warning
dotnet_diagnostic.CA2246.severity = warning
dotnet_diagnostic.CA2252.severity = error
dotnet_diagnostic.CA2255.severity = warning
dotnet_diagnostic.CA2260.severity = warning
dotnet_diagnostic.CA2352.severity = warning
dotnet_diagnostic.CA2353.severity = warning
dotnet_diagnostic.CA2354.severity = warning
dotnet_diagnostic.CA2355.severity = warning
dotnet_diagnostic.CA2356.severity = warning
dotnet_diagnostic.CA2362.severity = warning
# CS0219: The variable is assigned but its value is never used
dotnet_diagnostic.CS0219.severity = suggestion
# CS1998: This async method lacks 'await' operators and will run synchronously. Consider using the 'await' operator to await non-blocking API calls, or 'await Task.Run(...)' to do CPU-bound work on a background thread.
dotnet_diagnostic.CS1998.severity = suggestion
# CS8509: The switch expression does not handle all possible values of its input type (it is not exhaustive).
dotnet_diagnostic.CS8509.severity = suggestion
# CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = silent
# CS8601: Possible null reference assignment.
dotnet_diagnostic.CS8601.severity = silent
# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = silent
# CS8603: Possible null reference return.
dotnet_diagnostic.CS8603.severity = silent
# CS8604: Possible null reference argument for parameter in type.
dotnet_diagnostic.CS8604.severity = silent
# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider adding the 'required' modifier or declaring as nullable.
dotnet_diagnostic.CS8618.severity = silent
# CS8619: Nullability of reference types in generic value type does not match target
dotnet_diagnostic.CS8619.severity = silent
# CS8620: Argument type cannot be used for parameter due to differences in the nullability of reference types.
dotnet_diagnostic.CS8620.severity = suggestion
# CS8625: Cannot convert null literal to non-nullable reference type.
dotnet_diagnostic.CS8625.severity = silent
# CS8629: Nullable value type may be null
dotnet_diagnostic.CS8629.severity = suggestion
# CS8765: Nullability of parameter does not match overridden member (possibly because of nullability attributes).
dotnet_diagnostic.CS8765.severity = silent
# CS8767: Nullability of reference types in parameter does not match implicitly implmemented member (possibly because of nullability attributes).
dotnet_diagnostic.CS8767.severity = suggestion
dotnet_diagnostic.IL2026.severity = warning
dotnet_diagnostic.IL2032.severity = warning
dotnet_diagnostic.IL2041.severity = warning
dotnet_diagnostic.IL2043.severity = warning
dotnet_diagnostic.IL2046.severity = warning
dotnet_diagnostic.IL2050.severity = warning
dotnet_diagnostic.IL2055.severity = warning
dotnet_diagnostic.IL2057.severity = warning
dotnet_diagnostic.IL2058.severity = warning
dotnet_diagnostic.IL2059.severity = warning
dotnet_diagnostic.IL2060.severity = warning
dotnet_diagnostic.IL2062.severity = warning
dotnet_diagnostic.IL2063.severity = warning
dotnet_diagnostic.IL2064.severity = warning
dotnet_diagnostic.IL2065.severity = warning
dotnet_diagnostic.IL2066.severity = warning
dotnet_diagnostic.IL2067.severity = warning
dotnet_diagnostic.IL2068.severity = warning
dotnet_diagnostic.IL2069.severity = warning
dotnet_diagnostic.IL2070.severity = warning
dotnet_diagnostic.IL2071.severity = warning
dotnet_diagnostic.IL2072.severity = warning
dotnet_diagnostic.IL2073.severity = warning
dotnet_diagnostic.IL2074.severity = warning
dotnet_diagnostic.IL2075.severity = warning
dotnet_diagnostic.IL2076.severity = warning
dotnet_diagnostic.IL2077.severity = warning
dotnet_diagnostic.IL2078.severity = warning
dotnet_diagnostic.IL2079.severity = warning
dotnet_diagnostic.IL2080.severity = warning
dotnet_diagnostic.IL2081.severity = warning
dotnet_diagnostic.IL2082.severity = warning
dotnet_diagnostic.IL2083.severity = warning
dotnet_diagnostic.IL2084.severity = warning
dotnet_diagnostic.IL2085.severity = warning
dotnet_diagnostic.IL2086.severity = warning
dotnet_diagnostic.IL2087.severity = warning
dotnet_diagnostic.IL2088.severity = warning
dotnet_diagnostic.IL2089.severity = warning
dotnet_diagnostic.IL2090.severity = warning
dotnet_diagnostic.IL2091.severity = warning
dotnet_diagnostic.IL2092.severity = warning
dotnet_diagnostic.IL2093.severity = warning
dotnet_diagnostic.IL2094.severity = warning
dotnet_diagnostic.IL2095.severity = warning
dotnet_diagnostic.IL2096.severity = warning
dotnet_diagnostic.IL2097.severity = warning
dotnet_diagnostic.IL2098.severity = warning
dotnet_diagnostic.IL2099.severity = warning
dotnet_diagnostic.IL2103.severity = warning
dotnet_diagnostic.IL2106.severity = warning
dotnet_diagnostic.IL2109.severity = warning
dotnet_diagnostic.IL2110.severity = warning
dotnet_diagnostic.IL2111.severity = warning
dotnet_diagnostic.IL2116.severity = warning
dotnet_diagnostic.IL3000.severity = warning
dotnet_diagnostic.IL3001.severity = warning
dotnet_diagnostic.IL3002.severity = warning
dotnet_diagnostic.IL3003.severity = warning
dotnet_diagnostic.IL3004.severity = warning
dotnet_diagnostic.IL3050.severity = suggestion
dotnet_diagnostic.IL3051.severity = suggestion
dotnet_diagnostic.IL3056.severity = suggestion
dotnet_diagnostic.RS1002.severity = warning
dotnet_diagnostic.RS1003.severity = warning
dotnet_diagnostic.RS1005.severity = warning
dotnet_diagnostic.RS1006.severity = warning
dotnet_diagnostic.RS1008.severity = warning
dotnet_diagnostic.RS1012.severity = warning
dotnet_diagnostic.RS1013.severity = warning
dotnet_diagnostic.RS1014.severity = suggestion
dotnet_diagnostic.RS1022.severity = warning
dotnet_diagnostic.RS1023.severity = warning

